<div ng-init='getBuzz()'>

  <!--input buzz-->

  <div style="margin-top: 15px;" ng-hide="params.type=='Activity' || params.type=='Lost N Found' ">
    <!--Form For Buzz-->
    <form enctype="multipart/form-data">
      <!--Form Div-->
      <div class="row" id="form">
        <!--Loader-->
        <div ng-show="loader" id="loader">
          <span id="loaderSpan"></span>
          <img src="../assets/images/preloader.gif" height="50" width="50">
        </div>
        <!--Textarea for Buzz Text-->
        <textarea ng-model="postText" placeholder="What's on your mind?" id="postInputText"></textarea>
        <!--Select tag,Choose File,Buzz Button-->
        <div class="col-md-24" id="submitArea">
          <ul class="list-inline">
            <li>
              <select ng-model="buzzType">
                <option value="Activity">Activity</option>
                <option value="Lost N Found">Lost N Found</option>
              </select>
            </li>
            <li>
              <label style="margin-left: 25px;">
                <span class="glyphicon glyphicon glyphicon-camera icon-hover" aria-hidden="true"></span>
                <input type="file" style="display:none" file-model="file" accept="image/*" ng-model="file">
              </label>
            </li>

            <li>
              <button class='btn btn-primary' ng-click="saveBuzz()" id="buzzBtn" ng-disabled="postText.length === 0">
                Buzz
              </button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<!--preview-->

<div id="preview" ng-show="postText.length || file">
  <p id="previewText">Preview</p>

  <div class="post" ng-class="{'changeType':buzzType=='Lost N Found'}">

    <div style="position: relative">

      <span>
        <img src="{{getCurrentUser().google.image.url}}">
        <span style="color: #105cb6;padding: 10px;">{{getCurrentUser().name}}</span>Posted
        <span class="postType">{{buzzType}}</span>
        <span class="creationTime">a few seconds ago</span>
      </span>

      <span class='deleteAndEdit'>
        <span class="glyphicon glyphicon-trash" style="color:#337ab7"></span>&nbsp&nbsp
        <span class="glyphicon glyphicon-pencil" style="color:#337ab7"></span>
      </span>

    </div>

    <div class="div_postText">
      <!--show-more defined in buzz.directive-->
      <span ng-bind-html="postText | linky" style="word-wrap: break-word;"></span>

      <br><br>

      <div id="imagePreview" style="height: 250px;width: 250px;padding-left: 20px;" ng-show="file">
        <img ng-src="{{imageSrc}}" style="height: 250px;width: 250px;"><br/>
      </div>


      <div class="div_likesDislikes">
        <button class="glyphicon glyphicon-thumbs-up" style="padding: 2px;border-radius: 50%;color:#337ab7"
                ng-disabled="true"></button>
        &nbsp
        <span style="padding: 2px;">0</span>

        <button class="glyphicon glyphicon-thumbs-down" style="padding: 2px;border-radius: 50%;color:#337ab7"
                ng-disabled="true"></button>
        &nbsp
        <span style="padding: 2px;">0</span>

        <span class="glyphicon glyphicon-comment" style="padding: 2px;color:#337ab7"></span>&nbsp
        <span style="padding: 2px;">0</span>

        <div style="margin-top: 5px;padding:5px;">
          <div>
            <div style="padding:10px;padding-left: 0px;">
              <img src="{{getCurrentUser().google.image.url}}" style="height: 26px;width: 25px;margin-top: -3px;">
              <input type="text" placeholder="Write a Comment" style="width: 92%;color: #000000" ng-disabled="true">
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>

  </div>
  <br><br>
</div>

<!-- Posted Buzz-->


<div>

  <div class="post" ng-repeat="buzz in Buzz">

    <div ng-class="{'changeType':buzz.buzzType=='Lost N Found'}">
      <div style="position: relative">
        <!--User Image in posted buzz-->
      <span class="userImage">
        <img src="{{buzz.postedBy.google.image.url}}">
        <span style="color: #105cb6;padding: 10px;">{{buzz.postedBy.name}}</span>Posted
        <span class="postType">{{buzz.buzzType}}</span>
        <span class="creationTime" am-time-ago="buzz.createdOn"></span>
      </span>
        <!--Delete and Edit button of Buzz-->
      <span class='deleteAndEdit' ng-if="showBtn(buzz.postedBy._id)">
        <a href="" class="glyphicon glyphicon-trash"
           ng-bootbox-confirm="Are you sure you want to confirm this?"
           ng-bootbox-confirm-action="deleteBuzz(buzz._id,$index)">
        </a>&nbsp&nbsp
        <a href="" class="glyphicon glyphicon-pencil" ng-click="showEditDiv(buzz._id)"></a>
      </span>
      </div>
      <!--Edit box for buzz-->
      <div class="row" style="padding: 0px;" ng-show='showDivObj.showDiv&&showDivObj.showDivId == buzz._id'>
        <div class="col-md-24" style="padding: 0px;padding-top: 10px;">
          <textarea ng-model="updatePostText" style="width:100%;color:black;resize: none;">{{buzz.buzzContent}} </textarea>
          <button class="btn btn-primary" ng-click="editBuzz(buzz._id,updatePostText,$index)">Save</button>
          <button class="btn btn-primary" ng-click="showDivObj.showDiv=false">Cancel</button>
        </div>
      </div>
      <!--Buzz content div-->
      <div class="div_postText" ng-init="content=moreLess(buzz.buzzContent,400)" style="word-wrap: break-word;">

        <div>
          <span ng-bind-html="content.text|linky"></span>
          <a ng-click="(content.text = buzz.buzzContent);(content.isShowMore=false);(content.isShowLess=true)"
             ng-show="content.isShowMore">Show More</a>
          <a ng-click="content=moreLess(buzz.buzzContent,400)" ng-show="content.isShowLess">Show Less </a>

          <div style="padding: 20px;" ng-show="buzz.image.path">
            <img src="{{buzz.image.path}}" style="height:250px;width:250px;">

          </div>
        </div>
        <!--likes/Dislikes/Comments-->
        <div class="div_likesDislikes">

          <!--Like Button-->
          <button class="glyphicon glyphicon-thumbs-up"
                  style="padding: 2px;border-radius: 50%;color:#337ab7"
                  ng-class="{'likeDislikeChangeColor':buzz.like==true}" ng-disabled="buzz.like==true"
                  ng-click="countLike(buzz._id,$index)"></button>
          &nbsp
          <span style="padding: 2px;cursor: pointer" data-toggle="modal" data-target="#likeModal"
                ng-click="modalLike($index)" data-target="#dislikeModal">{{buzz.likedBy.length}}</span>
          <!--Dislike Button-->
          <button class="glyphicon glyphicon-thumbs-down"
                  style="padding: 2px;border-radius: 50%;color:#337ab7"
                  ng-class="{'likeDislikeChangeColor':buzz.dislike==true}" ng-disabled="buzz.dislike==true"
                  ng-click="countDislike(buzz._id,$index)">
          </button>
          &nbsp
          <span style="padding: 2px;cursor:pointer;" data-toggle="modal" ng-click="modalDislike($index)"
                data-target="#dislikeModal">{{buzz.dislikedBy.length}}</span>
          <!--Comment-->
          <a href="" ng-click="active=!active"><span class="glyphicon glyphicon-comment"
                                                     style="padding: 2px;"></span></a>&nbsp
          <span style="padding: 2px;">{{buzz.comments.length}}</span>
          <!--Posted Comments-->
          <div style="margin-top: 5px;padding:5px;">
            <div>
              <div ng-repeat="comment in buzz.comments" ng-hide="buzz.comments.length>5" ng-show="active"
                   style="background: #f6f7f8;text-align: justify;position: relative;">
                <div ng-class="{'changeType':buzz.buzzType=='Lost N Found'}">
                  <p style="padding-bottom: 5px;padding-top: 5px;">
                  <span style="right:0px;position: absolute;padding: 2px;" ng-show="showBtn(comment.postedBy._id)">
                  <a href="" class="glyphicon glyphicon-trash"
                     ng-bootbox-confirm="Are you sure you want to confirm this?"
                     ng-bootbox-confirm-action="deleteComment(buzz._id,comment._id,$index,$parent.$index)"></a>&nbsp&nbsp
                  <a href="" class="glyphicon glyphicon-pencil" ng-click="showEditDivComment(buzz._id,comment._id)"></a>
                  </span>
                    <span><img src="{{comment.postedBy.google.image.url}}" style="height: 38px;width: 35px;;"></span>
                    <span style="color: #105cb6;font-size:small;font-weight:bold; ">{{comment.postedBy.name}}</span>
                      <span style="padding-left: 5px;font-size:1em;"
                            ng-bind-html="comment.commentText | linky"></span><br>
                  <span class="creationTime" am-time-ago="comment.createdOn"
                        style="padding-left: 40px;font-size:0.8em;margin-top: -10px;display:block"></span>
                  </p>
                  <!--Edit comment div-->
                  <div style="padding:10px;padding-left: 0px;"
                       ng-show="showCommentEdit.showDiv&&showCommentEdit.showBuzzId==buzz._id&&showCommentEdit.showCommentId==comment._id">
                    <img src="{{getCurrentUser().google.image.url}}"
                         style="height: 26px;width: 25px;margin-top: -3px;">
                    <input type="text" ng-value="comment.commentText" ng-model="updatedComment"
                           ng-keyup="keyPressEditComment($event.keyCode,buzz._id,comment._id,updatedComment,$index,$parent.$index)"
                           style="width: 89%;color: #000000">
                    <a href="" ng-click="showCommentEdit.showDiv=false">
                      <span class="glyphicon glyphicon-remove" style="padding:2px;"></span>
                    </a>
                  </div>
                </div>

              </div>
              <!--Default empty comment inout field in all buzz-->
              <div style="padding:10px;padding-left: 0px;">
                <img src="{{getCurrentUser().google.image.url}}" style="height: 26px;width: 25px;margin-top: -3px;">
                <input type="text" placeholder="Write a Comment" style="width: 93%;color: #000000"
                       ng-model="commentText"
                       ng-keyup="keyPressCreateComment($event.keyCode,buzz._id,commentText,$index)">
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
<br>
<div style="text-align: center">
  <img src="../assets/images/logo.gif" ng-show="loading">

  <p>
    No more posts
  </p>
</div>
<!--<div style="text-align:center;" ng-show=getLoader>-->
<!--<span style="display: inline-block;height: 100%;vertical-align: middle"></span>-->
<!--<img src="../assets/images/preloader.gif" height="50" width="50">-->
<!--</div>-->
<div id="dislikeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dislikes&nbsp({{dislikeUsers.length}})</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="dislike in dislikeUsers">
          <p>
            <img src="{{dislike.postedBy.google.image.url}}">
            {{dislike.postedBy.name}}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="likeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-data="buzz">&times;</button>
        <h4 class="modal-title">Likes&nbsp({{likeUsers.length}})</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="likes in likeUsers">
          <p>
            <img src="{{likes.postedBy.google.image.url}}">
            {{likes.postedBy.name}}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>




