<div ng-init='getBuzz()'>

  <!--input buzz-->
  <div style="margin-top: 30px;">


    <form enctype="multipart/form-data">
      <div class="row" id="form" ng-hide="params.type=='Activity' || params.type=='Lost N Found' ">

        <div class="col-md-24" style="padding:0px;margin: auto;">
          <div style="text-align: center;height: 100%;width: 100%;position: absolute;top: 0px;left: 0px;z-index: 100;background: rgba(0,0,0,0.5)" ng-show="loader">
            <span style="display: inline-block;height: 100%;vertical-align: middle"></span>
            <img src="../assets/images/preloader.gif" height="50" width="50">
          </div>
          <textarea ng-model="postText" placeholder="What's on your mind?" id="postInputText"></textarea>

          <div class="col-md-24" style="padding: 20px;padding-left:0px;position: relative">
            <ul class="list-inline">
              <li>
                <select ng-model="buzzType">
                  <option value="Activity">Activity</option>
                  <option value="Lost N Found">Lost N Found</option>
                </select>
              </li>
              <li>
                <input type='file' file-model="myFile" >
                <!--<label>-->
                <!--<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>-->
                <!--<input type="file" style="display:none" file-model ng-model="myFile"-->
                <!--media-preview preview-container="imgPreview"/>-->
                <!--</label>-->
              </li>
              <li>
                <button class='btn btn-primary' ng-click="saveBuzz()" style="right: 0px;position: absolute;top:20px; "
                        ng-show="postText.length">Buzz
                </button>
              </li>
            </ul>


          </div>

        </div>

      </div>
    </form>
  </div>


  <!--preview-->

  <div id="preview" ng-show="postText.length">
    <p id="previewText">Preview</p>

    <div class="post" ng-class="{'changeType':buzzType=='Lost N Found'}">

      <div style="position: relative">

      <span>
        <img src="{{getCurrentUser().google.image.url}}">
        <span style="color: #105cb6;padding: 10px;">{{getCurrentUser().name}}</span>Posted
        <span class="postType">{{buzzType}}</span>
        <span class="creationTime">a few seconds ago</span>
      </span>

      <span class='deleteAndEdit'>
        <span class="glyphicon glyphicon-trash" style="color:#337ab7"></span>&nbsp&nbsp
        <span class="glyphicon glyphicon-pencil" style="color:#337ab7"></span>
      </span>

      </div>

      <div class="div_postText">
        <!--show-more defined in buzz.directive-->
        <span ng-bind-html="postText | linky" style="word-wrap: break-word;"></span>
      </div>

      <div class="div_likesDislikes">
        <button class="glyphicon glyphicon-thumbs-up" style="padding: 2px;border-radius: 50%;color:#337ab7"
                ng-disabled="true"></button>
        &nbsp
        <span style="padding: 2px;">0</span>

        <button class="glyphicon glyphicon-thumbs-down" style="padding: 2px;border-radius: 50%;color:#337ab7"
                ng-disabled="true"></button>
        &nbsp
        <span style="padding: 2px;">0</span>

        <span class="glyphicon glyphicon-comment" style="padding: 2px;color:#337ab7"></span>&nbsp
        <span style="padding: 2px;">0</span>

        <div style="margin-top: 5px;padding:5px;">
          <div>
            <div style="padding:10px;padding-left: 0px;">
              <img src="{{getCurrentUser().google.image.url}}" style="height: 26px;width: 25px;margin-top: -3px;">
              <input type="text" placeholder="Write a Comment" style="width: 92%;color: #000000" ng-disabled="true">
              <span class="glyphicon glyphicon-ok" style="padding:2px;color:#337ab7"></span>
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>
    <br><br>
  </div>

  <!-- Posted Buzz-->

  <div class="post" ng-repeat="buzz in Buzz">

    <div ng-class="{'changeType':buzz.buzzType=='Lost N Found'}">
      <div style="position: relative">
        <!--User Image in posted buzz-->
      <span class="userImage">
        <img src="{{buzz.postedBy.google.image.url}}">
        <span style="color: #105cb6;padding: 10px;">{{buzz.postedBy.name}}</span>Posted
        <span class="postType">{{buzz.buzzType}}</span>
        <span class="creationTime" am-time-ago="buzz.createdOn"></span>
      </span>
        <!--Delete and Edit button of Buzz-->
      <span class='deleteAndEdit' ng-if="showBtn(buzz.postedBy._id)">
        <a href="" class="glyphicon glyphicon-trash"
          ng-bootbox-confirm="Are you sure you want to confirm this?"
          ng-bootbox-confirm-action="deleteBuzz(buzz._id,$index)">
        </a>&nbsp&nbsp
        <a href="" class="glyphicon glyphicon-pencil" ng-click="showEditDiv(buzz._id)"></a>
      </span>
      </div>
      <!--Edit box for buzz-->
      <div class="row" style="padding: 0px;" ng-show='showDivObj.showDiv&&showDivObj.showDivId == buzz._id'>
        <div class="col-md-24" style="padding: 0px;padding-top: 10px;">
          <textarea ng-model="updatePostText" style="width:100%;color:black;">{{buzz.buzzConte </textarea>
          <button class="btn btn-primary" ng-click="editBuzz(buzz._id,updatePostText,$index)">Save</button>
          <button class="btn btn-primary" ng-click="showDivObj.showDiv=false">Cancel</button>
        </div>
      </div>
      <!--Buzz content div-->
      <div class="div_postText" ng-init="content=moreLess(buzz.buzzContent,400)" style="word-wrap: break-word;">

        <div>
          <span ng-bind-html="content.text|linky"></span>
          <a ng-click="(content.text = buzz.buzzContent);(content.isShowMore=false);(content.isShowLess=true)"
             ng-show="content.isShowMore">Show More</a>
          <a ng-click="content=moreLess(buzz.buzzContent,400)" ng-show="content.isShowLess">Show Less </a>

          <div style="text-align: center;padding: 20px;" ng-show="buzz.image.path">
            <img src="{{buzz.image.path}}" style="height:250px;width:250px;">

          </div>
        </div>

        <!--likes/Dislikes/Comments-->
        <div class="div_likesDislikes">
          <!--Like Button-->
          <button ng-disabled ="buzz.likeFlag" class="glyphicon glyphicon-thumbs-up" style="padding: 2px;border-radius: 50%;color:#337ab7"
                  ng-click="countLike(buzz._id,$index)" ng-class="{'likeDislikeChangeColor':buzz.likeFlag}"></button>
          &nbsp
          <span style="padding: 2px;" ng-click="showList()">{{buzz.likedBy.length}}</span>
          <!--Dislike Button-->
          <button ng-disabled ="buzz.dislikeFlag" class="glyphicon glyphicon-thumbs-down" style="padding: 2px;border-radius: 50%;color:#337ab7"
                  ng-click="countDislike(buzz._id,$index)" ng-class="{'likeDislikeChangeColor':buzz.dislikeFlag}">
          </button>
          &nbsp
          <span style="padding: 2px;" ng-click="showList()">{{buzz.dislikedBy.length}}</span>
          <!--Comment-->
          <a href="" ng-click="active=!active"><span class="glyphicon glyphicon-comment"
                                                     style="padding: 2px;"></span></a>&nbsp
          <span style="padding: 2px;">{{buzz.comments.length}}</span>
          <!--Posted Comments-->
          <div style="margin-top: 5px;padding:5px;">
            <div>
              <div ng-repeat="comment in buzz.comments" ng-hide="buzz.comments.length>5" ng-show="active"
                   style="background: #f6f7f8;text-align: justify;position: relative;">
                <div ng-class="{'changeType':buzz.buzzType=='Lost N Found'}">
                  <p style="padding-bottom: 5px;padding-top: 5px;">
                  <span style="right:0px;position: absolute;padding: 2px;" ng-show="showBtn(comment.postedBy._id)">
                  <a href="" class="glyphicon glyphicon-trash"
                     ng-bootbox-confirm="Are you sure you want to confirm this?"
                     ng-bootbox-confirm-action="deleteComment(buzz._id,comment._id,$index,$parent.$index)"></a>&nbsp&nbsp
                  <a href="" class="glyphicon glyphicon-pencil" ng-click="showEditDivComment(buzz._id,comment._id)"></a>
                  </span>
                    <span><img src="{{comment.postedBy.google.image.url}}" style="height: 38px;width: 35px;;"></span>
                    <span style="color: #105cb6;font-size:small;font-weight:bold; ">{{comment.postedBy.name}}</span>
                    <span style="padding-left: 5px;font-size:1em;">{{comment.commentText}}</span><br>
                  <span class="creationTime" am-time-ago="comment.createdOn"
                        style="padding-left: 40px;font-size:0.8em;margin-top: -10px;display:block"></span>
                  </p>
                  <!--Edit comment div-->
                  <div style="padding:10px;padding-left: 0px;"
                       ng-show="showCommentEdit.showDiv&&showCommentEdit.showBuzzId==buzz._id&&showCommentEdit.showCommentId==comment._id">
                    <img src="{{getCurrentUser().google.image.url}}" style="height: 26px;width: 25px;margin-top: -3px;">
                    <input type="text" ng-value="comment.commentText" ng-model="updatedComment" ng-keyup="keyPressEditComment($event.keyCode,buzz._id,comment._id,updatedComment,$index,$parent.$index)"
                           style="width: 89%;color: #000000">
                    <a href="" ng-click="editComment(buzz._id,comment._id,updatedComment,$index,$parent.$index)">
                      <span class="glyphicon glyphicon-ok" style="padding:2px;"></span>
                    </a>
                    <a href="" ng-click="showCommentEdit.showDiv=false">
                      <span class="glyphicon glyphicon-remove" style="padding:2px;"></span>
                    </a>
                  </div>
                </div>

              </div>
              <!--Default empty comment inout field in all buzz-->
              <div style="padding:10px;padding-left: 0px;">
                <img src="{{getCurrentUser().google.image.url}}" style="height: 26px;width: 25px;margin-top: -3px;">
                <input type="text" placeholder="Write a Comment" style="width: 93%;color: #000000"
                       ng-model="commentText" ng-keyup="keyPressCreateComment($event.keyCode,buzz._id,commentText,$index)" >
                <a href="" ng-click="buzzComment(buzz._id,commentText,$index)">
                  <span class="glyphicon glyphicon-ok" style="padding:2px;"></span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

  </div>
  <br>

  No More Posts



</div>


