<!--admin section-->
<div role="tabpanel" class="tab-pane" id="allComplaints" ng-init="getComplaint()">
  <div class="col-md-24 complaintForm ">
    <div class="panel panel-success">
      <div class="panel-heading" style="background:lightblue;color: #101010">
        <h3 class="panel-title">Complaints</h3>
      </div>
      Status:
      <select ng-model="filterStatus" ng-init="filterStatus='All'">
        <option value="All">All</option>
        <option value="Open">Open</option>
        <option value="Re-Open">Re-Open</option>
        <option value="Closed">closed</option>
        <option value="Resolved">Resolved</option>
        <option value="In Progress">In Progress</option>
        <option value="Cancel">Cancel</option>
      </select>
      Department:
      <select ng-model="filterDepartment" ng-init="filterDepartment='All'">
        <option value="All">All</option>
        <option value="IT">IT</option>
        <option value="Infrastructure">Infrastructure</option>
        <option value="Other">Other</option>
      </select>

      <table class="table table-hover" id="task-table">
        <thead>
        <tr>
          <th>Department</th>
          <th>Filed By</th>
          <th>Complaint Id</th>
          <th>Assigned To</th>
          <th>Status</th>

        </tr>
        </thead>
        <tbody ng-repeat="complaint in complaint | filterComplaints : filterStatus : filterDepartment">
        <tr>
          <td>{{complaint.department}}</td>
          <td>{{complaint.postedBy.name}}</td>
          <td>{{complaint._id}}</td>
          <td>{{complaint.assignedTo.name}}</td>
          <td>{{complaint.status}}</td>
          <td><span class="glyphicon glyphicon-pencil hover" data-toggle="modal" data-target="#admincomplaintDetail"
                    ng-click="complaintDetail($index)"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--Modal for admin-->
<div id="admincomplaintDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div ng-show="assignLoader" class="loader">
          <span class="loaderSpan"></span>
          <img src="../assets/images/preloader.gif" height="50" width="50">
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filed Complaint</h4>
      </div>
      <div class="modal-body">
        <div>
          <p>
            <span><img src="{{complaintDetails.postedBy.google.image.url}}" height='50' width="50"></span>
            <span>{{complaintDetails.postedBy.name}}</span><br>
            Department
            ({{complaintDetails.department}})
            <span class="creationTime" am-time-ago="complaintDetails.createdOn"
                  style="position: absolute;right: 10px;"></span>
          </p>
          <hr>
          <p ng-bind-html="complaintDetails.complaintText| linky">
          </p>

          <p>
            <img src={{complaintDetails.image.path}} style="height: 250px;width:250px;"
                 ng-show="complaintDetails.image.path">
          </p>
          {{complaintDetails._id}}
        </div>
        </button>
        <hr>
        <!--Assign To me button-->
        <button class="btn btn-primary" ng-click="assignToMe(complaintDetails._id,complaintDetails.index)"
                ng-hide="complaintDetails.status==='In Progress'||complaintDetails.status==='Cancel'||complaintDetails.status==='Closed'||complaintDetails.status==='Resolved'"
                ng-if="complaintDetails.postedBy._id!==getCurrentUser._id"
                ng-disabled="complaintDetails.assignToMeComplaint">
          AssignTo Me
        </button>
        <!--Assign To other Admin-->
        <div class="dropdown"
             ng-hide="complaintDetails.status==='Cancel'||complaintDetails.status==='Closed'||complaintDetails.status==='Resolved'||complaintDetails.status==='In Progress'">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-click="getUsers()"
                  ng-disabled="complaintDetails.assignToComplaint">
            Assign To
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="admin in admins" ng-hide="admin._id===complaintDetails.postedBy._id"><a
              ng-click="assignTo(complaintDetails._id,complaintDetails.index,admin._id)">{{admin.name}}</a></li>
          </ul>
        </div>
        <!--Resolved button-->
        <button class="btn btn-primary" ng-click="resolveComplaint(complaintDetails._id,complaintDetails.index)"
                ng-if="complaintDetails.status==='In Progress'&&complaintDetails.assignedTo._id===getCurrentUser._id"
          ng-disabled="complaintDetails.resolveDisabled">
          Resolved
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
