body, html {
  height: 100%;
}

.text {
  text-align: center;
}

#Profile {
  padding: 10px;
  border: 1px solid black;
  height: 500px;
  text-align: center;
  padding: 0px;

}

#Links {
  border: 1px solid red;
  height: 350px;
}

#content {
  border: 1px solid #ddd;
  padding-bottom: 15px;
}

.sidebar-nav {
  padding: 0px;
}

#UserImage {
  text-align: center;
}

.container {
  padding: 0px;

}

.row {
  margin-right: 0px;
}
