.selectDept{
  width: 50%;
}
.complaintForm{
  padding:20px;
  position: relative;
}
.panelColor{
  color:lightblue;
}
#loader {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
.hover:hover{
  color: lightblue;
}

